@import '~@angular/material/theming';
@import '../../../styles';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$contrast: (
  50: $black-87-opacity,
  100: $black-87-opacity,
  200: $black-87-opacity,
  300: $black-87-opacity,
  400: $black-87-opacity,
  500: white,
  600: white,
  700: white,
  800: $white-87-opacity,
  900: $white-87-opacity,
  A100: $black-87-opacity,
  A200: white,
  A400: white,
  A700: white
);

$mat-custom-stone: (
  50: #d9f1ff,
  100: #b7daed,
  200: #98bed5,
  300: #76a2bd,
  400: #5c8daa,
  500: #407a98,
  600: #336b87,
  700: #245771,
  800: #16445b,
  900: #003043,
  contrast: $contrast
);
$mat-custom-autumn-foilage: (
  50: #ffe1cd,
  100: #f2beae,
  200: #d29989,
  300: #b27562,
  400: #9a5947,
  500: #823f2c,
  600: #763626,
  700: #662a1d,
  800: #571e17,
  900: #460f0d,
  contrast: $contrast
);
$mat-custom-ice: (
  50: #d9eef4,
  100: #a1d6e2,
  200: #61bbce,
  300: #00a1ba,
  400: #0091ad,
  500: #00809f,
  600: #00738f,
  700: #006177,
  800: #004e60,
  900: #002f38,
  contrast: $contrast
);
$mat-custom-warm-grey: (
  50: #fbf9fd,
  100: #f5f3f8,
  200: #eeecf0,
  300: #dfdde1,
  400: #bcbabe,
  500: #9d9b9f,
  600: #747276,
  700: #605e62,
  800: #413f43,
  900: #201f22,
  contrast: $contrast
);
$dark-custom-primary-text: rgba($color-custom-dark, 0.87);
$dark-custom-secondary-text: rgba($color-custom-dark, 0.54);
$dark-custom-disabled-text: rgba($color-custom-dark, 0.38);
$dark-custom-dividers: rgba($color-custom-dark, 0.12);
$dark-custom-focused: rgba($color-custom-dark, 0.12);
$light-custom-primary-text: $color-custom-light;
$light-custom-secondary-text: rgba($color-custom-light, 0.7);
$light-custom-disabled-text: rgba($color-custom-light, 0.5);
$light-custom-dividers: rgba($color-custom-light, 0.12);
$light-custom-focused: rgba($color-custom-light, 0.12);
// Foreground palette for light themes.
$mat-custom-light-theme-foreground: (
  base: $color-custom-dark,
  divider: $dark-custom-dividers,
  dividers: $dark-custom-dividers,
  disabled: $dark-custom-disabled-text,
  disabled-button: rgba($color-custom-dark, 0.26),
  disabled-text: $dark-custom-disabled-text,
  hint-text: $dark-custom-disabled-text,
  secondary-text: $dark-custom-secondary-text,
  icon: rgba($color-custom-dark, 0.54),
  icons: rgba($color-custom-dark, 0.54),
  text: rgba($color-custom-dark, 0.87),
  slider-min: rgba($color-custom-dark, 0.87),
  slider-off: rgba($color-custom-dark, 0.26),
  slider-off-active: rgba($color-custom-dark, 0.38)
);
// Background palette for light themes.
$mat-custom-light-theme-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar: map_get($mat-grey, 100),
  background: map_get($mat-grey, 50),
  hover: rgba($color-custom-dark, 0.1),
  card: $color-custom-light,
  dialog: $color-custom-light,
  disabled-button: rgba($color-custom-dark, 0.12),
  raised-button: $color-custom-light,
  focused-button: $dark-custom-focused,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200)
);
// Foreground palette for dark themes.
$mat-custom-dark-theme-foreground: (
  base: white,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba(white, 0.3),
  disabled-text: $light-disabled-text,
  hint-text: $light-disabled-text,
  secondary-text: $light-secondary-text,
  icon: white,
  icons: white,
  text: white,
  slider-min: white,
  slider-off: rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3)
);
// Background palette for dark themes.
$mat-custom-dark-theme-background: (
  status-bar: black,
  app-bar: map_get($mat-grey, 900),
  background: #303030,
  hover: rgba(white, 0.04),
  card: map_get($mat-grey, 800),
  dialog: map_get($mat-grey, 800),
  disabled-button: rgba(white, 0.12),
  raised-button: map-get($mat-grey, 800),
  focused-button: $light-focused,
  selected-button: map_get($mat-grey, 900),
  selecte-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disable-list-option: black
);
// Creates a container object for a light theme to be given to individual component theme mixins.
@function mat-custom-light-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $mat-custom-light-theme-foreground,
    background: $mat-custom-light-theme-background
  );
}
$mat-brand-primary: (
  50: #d9f1ff,
  100: #b8dae8,
  200: #98bed0,
  300: #75a2b7,
  400: #5b8da4,
  500: #3f7992,
  600: #326b81,
  700: #24576b,
  800: #164456,
  900: #022f3e,
  contrast: $contrast
);
$mat-brand-secondary: (
  50: #fdf2e3,
  100: #fadfb9,
  200: #f7ca8d,
  300: #f4b563,
  400: #f1a549,
  500: #ee983b,
  600: #e98d38,
  700: #e27f34,
  800: #da7131,
  900: #cd5c2d,
  contrast: $contrast
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$chs-app-primary: mat-palette($mat-custom-ice, 100);
$chs-app-accent: mat-palette($mat-custom-warm-grey, 400);
$custom-primary: mat-palette($mat-brand-primary, 300);
$custom-accent: mat-palette($mat-brand-secondary, 500);
// The warn palette is optional (defaults to red).
$chs-app-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$chs-app-theme: mat-light-theme($chs-app-primary, $chs-app-accent, $chs-app-warn);
$chs-app-dark-theme: mat-dark-theme($chs-app-primary, $chs-app-accent, $chs-app-warn);
$chs-custom-app-theme: mat-custom-light-theme($chs-app-primary, $chs-app-accent, $chs-app-warn);
$custom-theme: mat-light-theme($custom-primary, $custom-accent, $chs-app-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include angular-material-theme($chs-custom-app-theme);
@include angular-material-theme($custom-theme);
