<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary"></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/videos" routerLinkActive="active">
        <mat-icon matListIcon>play_circle_outline</mat-icon>
        All Videos</a>
      <a mat-list-item routerLink="/video-categories" routerLinkActive="active">
        <mat-icon matListIcon>video_library</mat-icon>
        Video Categories</a>
      <a mat-list-item routerLink="/songs" routerLinkActive="active">
        <mat-icon matListIcon>audiotrack</mat-icon>
        All Songs</a>
      <a mat-list-item routerLink="/song-categories" routerLinkActive="active">
        <mat-icon matListIcon>library_music</mat-icon>
        Song Categories</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content id="app-sidenav-content">
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span id="app-title-text">ADMIN DASHBOARD</span>
    </mat-toolbar>
    <app-main-content id="app-main-content"></app-main-content>
  </mat-sidenav-content>
</mat-sidenav-container>
