/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}

$color-custom-light: #f1f1f2;
$color-custom-dark: #155b70;
$color-custom-primary: #a1d6e2;
$color-custom-accent: #bcbabe;
